.logingPage {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding-top: 200px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/src/assets/backgrounds/auth.svg");
}
