.emptyPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Jeko";
  font-size: 16px;
  color: #d07f00;
  background: #fff;
  border-radius: 0 16px 16px;
  padding: 12px;
  box-sizing: border-box;
  min-height: 378px;

  .emptyPanelText {
    span {
      color: #bac24f;
    }
  }
}
