.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-size: contain;

  &:hover {
    // border: 2px solid #b9760f;
  }

  &.garden_bed {
    background-image: url("/src/assets/sprites/dirt.png");
    cursor: pointer;

    .seed {
      bottom: 5px;
    }
  }

  &.stone {
    cursor: pointer;
  }

  &.grass,
  &.stone {
    background-image: url("/src/assets/sprites/grass.png");
  }

  .seed {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .timer {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
  }
}
