.plot {
  height: 288px;
  box-sizing: border-box;
  border: 1px solid #000;
  background-repeat: repeat;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-auto-rows: 1fr;

  &.unavailable {
    background: rgb(7, 55, 99);
  }
}
