.button {
  padding: 5px 24px;
  width: 100%;
  height: 50px;
  background: #bac24f;
  box-shadow: 1px 3px 0px #6e7328;
  border-radius: 37px;
  font-family: "Jeko";
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  appearance: none;
  border: none;
  cursor: pointer;

  &.big {
    width: 242px;
  }
}

.link {
  width: fit-content;
  margin: 0 auto;
}
