.lastSeeds {
  position: fixed;
  right: 112px;
  bottom: 30px;
  z-index: 1000;
  display: flex;
  gap: 12px;
}

.seedItem {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6efe5;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  cursor: pointer;

  &.active {
    border-color: #fab140;
  }

  .seedItemCount {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -6px;
    bottom: -6px;
    width: 20px;
    height: 20px;
    padding-top: 1px;
    box-sizing: border-box;
    background: #f6efe5;
    border: 3px solid #ffffff;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    font-family: "Jeko", sans-serif;
    font-size: 9px;
  }
}
