.land {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-auto-rows: 1fr;
  width: 2880px;
  background-image: url("/src/assets/sprites/unavailable.png");
}
