.leftPanel {
  height: 100%;
  background: #fff;
  border-radius: 16px;
  padding: 12px;
  box-sizing: border-box;

  .items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: rows;
    max-width: 432px;
    gap: 12px;
    box-sizing: border-box;
  }
}
