.seed {
  display: flex;
  border-bottom: 1px solid #935a02;
  padding: 10px 0;
}

.seedImage {
  width: 80px;
  position: relative;

  img {
    width: 100%;
  }
}

.seedsCount {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6efe5;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.25);
}

.seedInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}

.seedName {
  font-weight: bold;
}
