.textInput {
  padding: 5px 24px;
  width: 242px;
  height: 50px;
  background: #ffffff;
  box-shadow: 1px 3px 0px #ad6a00;
  border-radius: 37px;
  border: none;
  font-family: "Jeko";
  font-size: 14px;
  text-align: center;
  color: #935a02;
  outline: none;

  &::placeholder {
    color: #935a02;
  }
}
