.react-tabs {
  -webkit-tap-highlight-color: transparent;
  margin-top: 12px;

  &__tab-list {
    margin: -4px 0 0 0;
    padding: 0;
  }

  &__tab {
    display: inline-block;
    position: relative;
    list-style: none;
    padding: 8px 24px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    font-family: "Jeko", sans-serif;
    background: #ff69a8;
    margin-left: 4px;
    border-radius: 8px 8px 0 0;

    &:first-child {
      margin-left: 0;
    }

    &--selected {
      background: #fff;
      color: #000;
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }

    &:focus {
      outline: none;
    }
  }

  &__tab-panel {
    display: none;
    background: #ffefd6;
    border-radius: 8px;
    overflow: auto;
    min-height: 390px;
    border-radius: 16px;

    &--selected {
      display: flex;
      gap: 12px;
    }
  }

  .react-tabs__tab-list ~ .react-tabs__tab-panel {
    border-radius: 0px;
  }
}
